* {
    /*  margin: 0px; */
    padding: 0px;
}

*body {

    font-style: italic;
    background-image: url("../images/white.jpeg");
}

.container {
    color: rgb(8, 125, 242);
}

.header {
    background-color:grey;
    color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
}

.logo {
    margin: 0;
    padding: 0;
    width: 200px;

}

.logo img {
    border-radius: 50%;
    letter-spacing: 1.5em;
    width: 500px;
    height: 150px;
}

.nav {
    text-align: center;
    height: 75px;
}

.menu {
    color: white;
    list-style-type: inherit;
    margin: 0;
    padding: 0;
}

.menu li a:hover {
    color: rgb(228, 29, 188);
}

.menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 3px;
}

.menu li {
    display: inline-flex;
    flex-direction: column;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    padding: 0px 97px;
    margin: 10px;

}

.menulinks {
    font-size: 74px;
    font-family: fantasy;
    font-weight: bold;
}

.detail {
    display: list-item;
    width: 40%;
    height: 40%;
    text-align: center;
}



.paragraph {
    padding: 100px;
    text-align: center;
    margin-top: 20px;
    width: 100px;
    height: 100px;
}

.subpara {
    column-count: 2;
}
/*
.aboutme__title {
    margin: 30px;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
    font-family: fantasy;
    background-color: #00BFFF;
}

.aboutme__description {
    background-color: bisque;
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
    margin: 30px;
    padding: 30px;
    border-radius: 30px;
}
*/

.profile {
    background-color: rgba(141, 216, 228, 255);
    display: flex;
    justify-content: space-around;
    border-radius: 10% / 50%;;
    margin: 30px;
    padding:30px;
}
.profile img {
    width: 600px;
    height: 800px;
   border-radius: 100%; 
    align-items: left;
    margin: 40px;
    padding: 40px;;
}
.profile__description{
    padding: 60px;
    line-height: 40px;
    text-align: center;
    border: 500px;
    padding: 50px;
}
.profile__description h1 {
    font-size: 100px;
    font-weight: bold;
    font-family: fantasy;
    
}
.profile__description h2{
    font-size: 60px;
    font-weight: bold;
    font-family: fantasy;
}
.profile__description h3{
    font-size: 40px;
    font-weight: bold;
    font-family: fantasy;

}
.profile__description p{
   
    padding: 100px;
    font-size: 40px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
}
.footer{
    margin: 20px;
    padding: 5px;
    font-size: 40px;
    text-align: center;
    background-color: #87CEFA;
    border-radius: 30px;

}