* {
    margin:0px;
    padding:0px;

}

*body {
    font-style:italic;
    background-image:url('../images/white.jpeg');
}

.container {
    height:100vh;
    overflow-x:hidden;
}

.header {
    background-color:white;
    color: black;
    display:flex;
    justify-content:space-between;
}

.logo {
    margin:0;
    padding:0;
    width:600px;
}

.logo img {
    width:400px;
    height:100px;
    padding:10px;
    padding-top:30px;
}

.nav {
    margin:0;
    align-items:center;
    display:flex;
    justify-content:space-between;

}

.menu {
    color:white;
    list-style-type:inherit;
    margin-top:0px;
    padding-top:10px;
    height:40px;
}

.menu li a:hover {
    color:rgb(228, 29, 188);
}

.menu li a {
    text-decoration:none;
    text-transform:uppercase;
    color:dark;
}

.menu li {
    display:inline-flex;
    flex-direction:column;
    color:darkblue;
    text-align:center;
    text-decoration:none;
    padding:16px;
}

.menulinks {
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:italic;
    padding:10px;
}

.detail {
    display:list-item;
    width:40%;
    height:40%;
    text-align:center;
}

.paragraph {
    padding:100px;
    text-align:center;
    margin-top:20px;
    width:100px;
    height:100px;
}

.profile {
    background-color:white;
    display:flex;
    justify-content:space-around;
    border-radius:10% / 50%;
    margin:30px;
    padding:30px;
}

.profile img {
    width:600px;
}

.profile__info {
    padding:20px;
    display:flex;
    justify-content:space-between;
}

.profile__info h1 {
    font-size:10px;
    font-weight:bold;
    font-family:fantasy;
}

.profile__info_d {
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.hello {
    font-size:40px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    padding-bottom:10px;
    color: darkcyan;
}

.frontend {
    font-size:40px;
    font-weight:bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    padding-bottom:10px;
}

.profile__info_d h1 {
    font-size:60px;
    font-weight:bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profile__info_d h1 span{
    color: coral;
    font-weight: bold;
    font-size: 60px;
    font-size: 6rem;
    line-height: 10px;
    line-height: 1rem;
    text-transform: uppercase;
}


.profile__info_d p {
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    letter-spacing: 2px;

}
.frontend span{
    color: coral;
    font-size: 40px;
    letter-spacing:2px;
}

.designer {
    font-size:20px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    padding:10px;
    color: coral;
}

.footer {
    margin:50px;
    padding:20px;
    font-size:20px;
    text-align:center;
    background-color:#87CEFA;
}

.phone p {
    font-size:50px;
    color:black;
}